# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
.DS_Store
Archive
Drafts
ExtraScripts
Networks
Panels
Pptx
figures
output
~$tal_Adult_Manuscript.docx
~$tal vs adult 3-17-21 JNM SG.docx
int
integrated_OE.rds
GPCOE.rds
ObjectsH_Pre.rds
Extended Data Tables
Matrices
RDS
Source Data
C27 genes/
genes/
isoforms/
miRNA/
hg38__refseq-r80__10kb_up_and_down_tss.mc9nr.feather
hg38__refseq-r80__500bp_up_and_100bp_down_tss.mc9nr.feather
miRNA-3_0-st-v1.annotations.201405132.csv
motifAnnotations_hgnc.txt
transmiR.tsv



